.image_up_btn{
	position: relative;
	margin-left: 10px;
	float: left;
}
.image_up_btn img{
	position: absolute;
	height: 38px;
}
img.img_selected{
	opacity: 0;
	-webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
}
img.img_select{
	-webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;	
}
input.shortcut_img_btn, input.slider_img_btn{
	/*position: absolute;*/
	opacity: 0;
	width: 50px;
	height: 38px;
}

.img_row{
	float: left;
	width: 100%;
	/*border-bottom: 1px solid gray;*/
}

.img_row span{
	float: left;
	padding: 10px;
	width: 120px;
}

.slider_img_up{
	width: 172px;
	margin-left: 8px;
	margin-top: 10px;
	background: white;
	border: none;
	border: 1px solid rgb(200,200,200);
	padding: 5px;
}

.slider_img_up:hover{
	background: rgb(200,200,200);
	color:white;
}

.panel-default{
	float: left;
	width: 100%;
}

.slide_img_up_panel .panel-body, .shortcut_img_up_panel .panel-body{
	/*max-width: 270px;*/
	max-width: 25%;
	float: left;
	/*background: red;*/
	border-right: 1px solid rgb(210,210,210);
	margin: 20px;
}

.preview_img{
	float: left;	
	margin-top: 40px;
}

.slide_img_up_panel .preview_img img{
	float: left;
	max-width: 265px;
	padding-right: 10px;
}

.shortcut_img_up_panel .preview_img img{
	float: left;
	max-width: 200px;
	padding-right: 7px;
	margin-top: 30px;	
}

.input-group-addon:first-child{
	width: 110px ;
}

.input-group{
	width: 90%;
	/*margin-top: 1px;*/
}

.input-group input
{
}

.event .col-md-4{
	margin-bottom: 10px;
	background: rgb(230,230,230);
	border-left: 5px solid white;
	border-right: 5px solid white;
	padding-bottom: 20px;
	padding-left: 20px;
	border-radius: 6px; 
}

.event_info{
	float: left;
	width: 100%;
	padding-top: 10px;
}

.event_info span{
	float: left;
	width: 100%;
}

.event h4:first-child{
	text-align: center;
	border-bottom: 1px solid white;
	padding: 15px;
	margin: 0px;
}

.event_info h4{
	/*text-align: center;*/
	/*border-bottom: 1px solid white;*/
	float: left;
	width: 100%;
	padding: 5px;
	margin: 0px;
	padding-left: 0px;	
}






















#formdiv {
  text-align: center;
}
#file {
  color: green;
  padding: 5px;
  border: 1px dashed #123456;
  background-color: #f9ffe5;
}
#img {
  width: 17px;
  border: none;
  height: 17px;
  margin-left: -20px;
  margin-bottom: 191px;
}
.upload {
  width: 100%;
  height: 30px;
}
.previewBox {
  text-align: center;
  position: relative;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  margin-bottom: 20px;
  float: left;
}
.previewBox img {
  height: 150px;
  width: 150px;
  padding: 5px;
  border: 1px solid rgb(232, 222, 189);
}
.delete {
  color: red;
  font-weight: bold;
  position: absolute;
  top: 0;
  cursor: pointer;
  width: 20px;
  height:  20px;
  border-radius: 50%;
  background: #ccc;
}


.single_img_preview{
	/*height: 200px;*/
	border: 1px solid rgb(235,235,235);
	padding: 10px;
	/*margin: 20px;*/
	float: left;
}

.panel-heading h3{
	margin-bottom: 0px;
}

.gallary select{
	width: 25%;
	float: left;
	padding: 8px;
	margin-right: 5%;
	background: white;
	border: 1px solid rgb(200,200,200);
	border-radius: 4px;
}

.gallary input[type='file']{
	width: 70%;
}


.display_all_img{
	float: left;
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
}


.display_all_img a{
	padding: 10px;
	border: 1px solid rgb(200,200,200);
	color:rgb(130,130,130);
	border-radius: 8px;
	text-decoration: none;
}


.display_all_img a:hover{
	background: #3097D1;
	color: white;
}







.gridLayout{
	background: white;
	float: left;
}
.gridLayoutInside{
	min-width: 1100px;

	background: white;
	float: left;
}
.imgGrid img{

}
.col-sm-4, .col-md-2{
	padding-left: 0px !important;
	padding-right: 0px !important;
	height: 230px;
	overflow: hidden;
	border:5px solid white;
}	
.imgGrid{
	overflow: hidden;
	width: 100%;
	background: white;
	display: table-cell; 
    vertical-align: middle; 
    height: 100%;
    float: left;
    transition: transform .4s ease-in-out;
}

.imgGrid img.tall{
	margin-top: -70px;
	transition: transform .4s ease-in-out;
	cursor: pointer;
}

.imgGrid img.wide{
	margin-top: 60px;
	transform: scale(2.25);
	transition: transform .4s ease-in-out;
}

.imgGrid:hover img.tall{
	transform: scale(.7);
	transition: transform .4s ease-in-out;
}
.imgGrid:hover img.wide{
	transform: scale(1);
	transition: transform .4s ease-in-out;
	cursor: pointer;
	overflow: hidden;
}/*
.imgGrid img:hover{
	transform: scale(1);	
}*/

.imgGridBox{
	height: 275px;
	width: 275px;
	float: left;
	padding: 5px;
	/*background: rgb(200,200,200);*/
}

.gridLayout input[type='checkbox']{
	position: absolute;
	z-index: 100;
	padding: 10px;

	-ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  font-size: 50px;
}

.gridLayout input[type='submit']{
	width: 100px;
	float: left;
	margin-right: 45%;
	margin-left: 45%;
	margin-bottom: 10px;
	background: red;
	color: white;
}

.ytp-chrome-top-buttons{
	display: none !important;
}
.motion_view .col-sm-4,  .motion_view .col-md-2{
	height: auto;
}

.shop_upload .preview_img{
	margin-top: 0px;
}

.shop_upload .preview_img img{
	max-height: 120px;
	border: 1px solid rgb(200,200,200);
}
.event_info{
	padding-top: 20px;
	padding-bottom: 20px;
}
.event_info .col-sm-5{
	border: none;
	text-align: right;
	padding-right: 5px;
}

 .event_info .col-sm-7{
 	padding-left: 5px;
	/*border-left: 1px solid gray;	*/
 }

 .event_info .col-sm-4, .event_info .col-md-2{
 	height: 110px;
 }

.display_all_img .col-md-2{
	width: 20%;
	padding-left: 0px;
	padding-right: 0px;
	height: auto;
	border:none;
	overflow: visible;
}

.motion_view .col-sm-4 iframe{
	max-height: 160px;
}