.navbar-inverse{
	float: right;
	/*width: 100%;*/
	background-color: white;
	border-color:transparent !important;
	border-radius: 0px !important;
	
	z-index: 100;
}

.navbar-nav{
	float: none !important;
	text-align: center;
}

.navbar-nav > li > a{
	padding: 5px 10px 5px 10px !important;
	color: rgb(90,90,90) !important;
}
.navbar-nav > li > a:hover{
	background-color: white !important;
	color: black !important;

}

#myNavbar a.top_nav_ul:after {
  display:block;
  content: '';
  border-bottom: solid 1px #B5144E;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
#myNavbar a.top_nav_ul:hover:after {
	 transform: scaleX(1.1);
}
/*.nav_underline{
	height: 1px;
	width: 100%;
	background: red;
	display: none;
}
a:hover{
	background: green;	
	display: block;
	border-bottom: 1px solid red;
}
*/
.navbar{
	margin-bottom: 0px !important;
	min-height: 48px;
}

#myNavbar{
	padding: 7px;
}
.cover .container-fluid{
	padding-right: 0px;
}
/*
@media screen and (max-width: 1555px) {
	.navbar-nav{
		width: 63%;
	}
}*/


@media only screen and (min-width: 768px){
	.collapse{
		display: block !important;
	}
	.overlay_nav{
		display: none;
	}	
}

@media only screen and (max-width: 908px) and (min-width: 768px){
	.container-fluid{
		padding-left: 0px !important;
	}
	.navbar-collapse{
		padding: 0px;
	}
}
@media only screen and (max-width: 990px) and (min-width: 768px) {
	.navbar-nav > li > a{
		padding: 5px 4px 5px 4px !important;
	}
}

@media only screen and (max-width: 841px) and (min-width: 768px){
	.logo{
		margin-left: 1.5% !important;
	}
}

@media only screen and (max-width: 768px) and (min-width: 200px) {


	.header_btn{
		float: right;
		width: 50px;
		position: fixed;
		right: 0;
		top: 0;
	}
	.navbar-inverse{
		float: left;
	}
	.menu_btn{
		float: left !important;
	}
	.navbar-inverse{
		margin-top: 0px;
	}

	.carousel-indicators li
	{
		width: 40px !important;
	}
	.carousel-indicators .active{
		width: 40px !important;
	}
	.carousel-indicators .active .carousel-indicators-inside
	{
		width: 40px !important;	
	}


	.home_slider .carousel-control span{
		width: 20px;
	}
 	
 	.logo{
 		margin-left: 100%;
 	}

}


/*to check how git work git*/



@media only screen and (max-width:1050px){
	.dropdown-content{
		margin-left: -195px !important;
	}
	.arrow-down {
    	margin-left: 180px !important;
    }

}

.header_btn{
	/*background: red;*/
}

.overlay_nav{
	position: absolute;
	position: fixed;
	width: 100%;
	/*margin-top: 48px;*/
	z-index: 1;
	border-left:35px solid white;
	border-right:35px solid white;
	display: block;
	z-index: 16;
	/*display: none;*/
	background: white;
	overflow: hidden;
	height: 00px;
	/*display: none;*/
	/*transition: max-height 5000ms ease-in-out;*/
	transition: height 600ms ease-in-out;
}
.overlay_nav a{
	background: white;
	width: 100%;
	padding: 10px;
	padding-right: 2px;
	float: left;
	border-bottom: 1px solid #d1d1d1;
	text-decoration: none;
	text-align: right;
	opacity:1;
	max-height: 00px;
	padding: 0px;
	color: gray;
	/*transition: max-height 5000ms ease-in-out;*/
	transition-delay: 1s; /* delays for 1 second */
-webkit-transition-delay: 1s; /* for Safari & Chrome */
	
}
.overlay_nav a:hover{
	color: black;
	border-bottom: 1px solid gray;
}

.clicked{
	/*max-height: 660px;*/
	/*transition: max-height 800ms ease-in-out;*/
}
.clicked a{
	max-height: 1000px;
	/*padding: 10px;*/
	padding-right: 0px;
}
.clicked a:nth-child(1){
	transition: max-height 1000ms ease-in-out, padding 1000ms ease-in-out;
}
.clicked a:nth-child(2){
	transition: max-height 1200ms ease-in-out, padding 1000ms ease-in-out;
}
.clicked a:nth-child(3){
	transition: max-height 1400ms ease-in-out, padding 1000ms ease-in-out;
}
.clicked a:nth-child(4){
	transition: max-height 1600ms ease-in-out, padding 1000ms ease-in-out;
}
.clicked a:nth-child(5){
	transition: max-height 1800ms ease-in-out, padding 1000ms ease-in-out;
}
.clicked a:nth-child(6){
	transition: max-height 2000ms ease-in-out, padding 1000ms ease-in-out;
}
.clicked a:nth-child(7){
	transition: max-height 2200ms ease-in-out, padding 1000ms ease-in-out;
}
.clicked a:nth-child(8){
	transition: max-height 2400ms ease-in-out, padding 1000ms ease-in-out;
}




.navbar-header button{
	z-index: 1100;
	border:none;
}



.navbar-inverse .navbar-toggle .icon-bar{
	/*background: rgb(50,50,50);*/
	background: #B5144E;
	transition: transform 1000ms ease-in-out;	
}
.btn_clicked  .icon-bar{
	
}

.btn_clicked  .icon-bar:first-child{

	transform: rotate(225deg);
}
.btn_clicked  .icon-bar:nth-child(2){
	/*transform: translate(0px,10px);*/
	transform: rotate(-225deg);
	margin-top: -2px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: white;
}



@media only screen and (max-width: 500px) {
	
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
		margin-left:5px;
	}
}