body{
}


.top_display{
	float: left;
	width: 100%;
}



.call_section{
	float: left;
	width: 100%;
	height: 75px;
	padding: 25px;

}

.call_section a{
	margin-right: 50px;
	padding: 5px 15px 5px 15px;
	border-radius: 50px;
	background-color: #c61954;
	float: right;
	color: white;
	font-weight: bold;
	font-size: 15px;

}




.mainpanel{
	margin-top: 48px;

	
}

.mainpanel .total_download_p{
	float: left;
	width: 100%;
	background: #ffaa01;
}

.mainpanel .total_motion_p{
	float: left;
	width: 100%;
	background: black;
}

.total_motion_p .col-sm-4{
	border: none;
}

iframe{
	border-width: 0px;
}




/*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*/

.admin_left a, .admin_right a{
	padding: 20px;
	/*border:1px solid gray;*/
	
	float: left;
	width: 100%;
	background-color: rgb(240,240,240);
	box-shadow: 2px 2px 2px gray;
	text-decoration: none;
	color: rgb(100,100,100);
	z-index: 10;
}	
.admin_left a:hover, .admin_right a:hover{
	background-color: rgb(150,150,150);
	box-shadow: 4px 4px 5px gray;
	color: white;

}
.admin_left, .admin_right{
	/*margin-top: 80%;*/
	float: left;
	width: 100%;
	text-align: center;
	/*margin-top: 10%;*/
	padding: 10px;

}

/*.admin_home .col-sm-4:nth-child(2){
	float: left;
	width: 100%;
	background-color: red;
}*/


.admin_home .col-sm-12{
	margin-top: 100px;
}
.admin_home .col-sm-4:nth-child(2){
	min-height: 400px;
}

@media only screen and (max-width: 768px) {
	.admin_home .col-sm-12{
		margin-top: 0px;
	}
}





/*USER LIST*/

.user_list{
	float: left;
	width: 100%;
}

.user_list_inside{
	margin: 0 auto;
	width: 80%;

}

.user_list{
	text-align: center;
}
.user_list th{
	text-align: center;	
}
/*USER LIST*/
/*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*//*ADMIN*/






/*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*/

.contact{
	float: right;
	width: 100%;
	background: #dcdcdc;
	padding-top: 20px;
}
.contact_inside{
	/*max-width: 600px;*/
	width: 100%;
	float: right;
	/*margin-top: 10%;*/
	margin-right: 10%;	

	bottom: 0;
	right: 0;
	margin-right: 8%;
}

@media only screen and (max-width: 600px){
	.contact_inside{
		position: relative;
	}
}
.contact_text{
	text-align: right;
	margin-bottom: 30px;
	float: right;
	width: 100%;
	padding-right: 10px;

}
.contact_text span{
	font-size: 17px;
	float: right;
	text-align: right;
	width: 100%;
}
.contact_form{
	max-width: 350px;
	padding: 10px;
	/*background-color: rgb(200,200,200);*/
	float: right;
	
}
.contact input, .contact textarea{
	float: right;
	width: 100%;
	float: right;
	resize: none;
	padding: 5px;
	background-color: #ebebeb;
	border: none;
	border-radius: 4px;
	font-size: 18px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.contact input:nth-child(4){
	width: 100px;
	float: right;
	margin: 0px;
	margin-right: -5px;


	padding-right: 5px;
}
.contact input:nth-child(4):hover{
	background-color: white;
	color:orange;
	border:1px solid orange;
}
.contact textarea{
	height: 120px;
}

.contact input:focus, .contact textarea:focus{
	border: none;
	border: 1px solid orange;
}




.contact_form input:invalid{
	border: none;
	border: 2px solid red;
}

.contact_form textarea:invalid{
	border: none;
	border: 2px solid red;
}

.about_text{
	max-width: 700px;
	float: right;
	text-align: right;
	padding: 30px;
	font-size: 18px;

}
/*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*/







/*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*/
.cover{
    height: 48px;
    float: left; 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    border-top: 0;
    background: white;
}

.cover_inside{
    height: 48px;
    float: left; 
    width: 100%;
}
.logo{
	/*float: left;*/
    /*width: 11%;*/
    /*margin-left: 6.5%;*/
    /*height: 120px;*/
    /*padding: 5px;*/
    padding-top: 7px;

}

.logo img{
	width: 80%;

}

@media only screen and (min-width: 550px){
	.logo{
		float: left;
	    /*width: 11%;*/
	    margin-left: 6.5%;
	    /*height: 120px;*/
	    padding: 5px;
	    padding-top: 7px;
	}
	.logo img{
		width: 75%;

	}


}

.menu_btn{
	float: right;
	/*margin-right: 100px;*/
	margin-right: 5.5%;
	/*background: black;*/
}


.home_option{
    float: left;
    /*width: 11%;*/
    /*margin-left: 6.5%;*/
    height: 48px;
    padding: 8px 10px 10px 10px;
}

.home_option img{
    width: 30px;
    height: 100%;
}

.arrow-down {
    width: 10px;
    /*margin-left: 35%;*/
    /*width: 0;*/
    margin: 0 auto;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f5f4f4;
    /*margin-bottom: -5px;*/
    margin-top: -25px;  

}
.drop_menu_top{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.drop_menu_top span{
    font-size: 17px;
    color: gray;
}
.drop_down_underline{
    width: 100%;
    height: 3px;
    /*background: gray;*/
    margin-bottom: 10px;

     background: -webkit-linear-gradient(left, #f5f4f4,  gray, gray,  #f5f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #f5f4f4,  gray, gray,  #f5f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #f5f4f4,  gray, gray,  #f5f4f4); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #f5f4f4,  gray, gray,  #f5f4f4); /* Standard syntax (must be last) */
    opacity: 0.3;
}
.dropbtn {
    background-color: transparent;
    color: white;
    /*padding: 100px;*/
    width: 30px;
    height: 30px;
    /*font-size: 16px;*/

    border: none;
    cursor: pointer;
    /*background-image: url("../../public/image/default/menu-icon2.png");*//*
    background-image: url("../../public/image/icon/photo.png");*/
    background-size: 70px 70px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f4f4;
    min-width: 230px;

    z-index: 1000;
    margin-left: -100px;
    padding: 10px;
}

.dropdown-content a {
    color: gray;
    padding: 4px 20px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    color: black;
    text-decoration-line: underline;
}

/*@media screen and (min-width: 769px){*/
	.menu_btn:hover .dropdown-content{
	    display: block;
	}

	.menu_btn:focus .dropdown-content{
	    display: block;
	}
/*}*/





.nav-cover .logo{
    float: left;
    width: 120px;
    /*width: 11%;*/
    margin-left: 6.5%;

}

.nav-cover .logo img{
    /*width: 100px;*/
    padding: 20px;
}
.nav-cover .menu_btn{
    float: right;
    /*margin-right: 100px;*/
    margin-right: 10.5%;
    padding: 55px;
}
.nav-cover .menu_btn img{
    width: 60px;
}

.nav-cover .dropbtn {
    background-color: transparent;
    color: white;
    /*padding: 100px;*/
    width: 35px;
    height: 28px;
    /*font-size: 16px;*/

    border: none;
    cursor: pointer;
    /*background-image: url("../../public/image/default/menu-icon2.png");*/
    /*background-image: url("../../public/image/icon/photo.png");*/
    background-size: 35px 28px;
}


.dropdown a img{
    width: 28px !important;
    float: left;
    padding-right: 10px;
}

.home_slider .carousel-control .glyphicon-chevron-left, .home_slider .carousel-control .glyphicon-chevron-right, .home_slider .carousel-control .icon-next, .home_slider .carousel-control .icon-prev{
    font-size: 0px !important;
}


.home_slider .carousel-control img{
    opacity: 0.1;
}

.carousel-control:focus, .carousel-control:hover img{
    opacity: 1;
}



@media only screen and (max-width: 390px){
    .navbar-inverse{
        margin-top: 0px !important;
        /*margin-right: 8% !important;*/
        position: fixed;
        left: 0;
    }    
    .navbar-toggle {
    	padding: 9px 10px 0px 25px;
    }
}


@media only screen and (max-width: 768px){
    .wide_screen_nav{
        display: none;
    }
}

.container-fluid{
    padding-left: 0px;
}

.hoverdown{
	float: left;
}
.hoverdown a{
	float: left;
	padding: 5px 0px 5px 10px !important;
    color: rgb(90,90,90) !important;
    cursor: pointer;
    text-decoration: none;
}

.hoverdown i{
	float: left;
	padding: 12px 10px 5px 10px !important;
    color: rgb(90,90,90) !important;
    transform: rotate(90deg);
}


.hoverdown{

}
.hoverdown-content{
	display: none;
	/*float: left;*/
	position: absolute;
	padding-left: 0px;
	min-width: 150px;
	background: white;
	margin-top: 30px;
}

.hoverdown-content li{
	float: left;
	width: 100%;
	list-style: none;
}

.hoverdown:hover .hoverdown-content{
	display: block;
}

.hoverdown:hover  i{
	transform: rotate(0deg);
	padding: 8px 10px 5px 10px !important;
	/*background: red;*/
}


/*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*//*COVER*/









/*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*/
.share_btn a{
	color: black;
	text-decoration: none;
}


.download_p{
	width: 86.5%;
	margin: 0 auto;
}

.download_h{
	float: left;
	width: 100%;
	text-align: center;
	padding: 45px;

}

.d_h_1, .d_h_2{
	float: left;
	width: 100%;
}

.d_h_1 h1, .d_h_2 h3{
	margin: 0px;
	color: white;

	/*font-family: 'Source Sans Pro', sans-serif;*/
   	font-family: 'Palanquin', sans-serif;
}

.d_h_1 h1{
	font-size: 70px;
	
}
.d_h_2 h3{
	letter-spacing: 14px;
	margin-right: -18px;
}


.motion .d_h_1 h1{
	font-size: 70px;
	font-family: 'Palanquin', sans-serif;
	color: rgb(200,200,200);
}
.motion .d_h_2 h3{
	letter-spacing: 4px;
	margin-right: -5px;
	color: rgb(200,200,200);
	font-family: 'Palanquin', sans-serif;
}

.download_panel{
	float: left;
	width: 100%;
	text-align: center;
}

.download_panel h4{
	padding: 0px;
	margin:0px;
	color: white;
}
.download_form{
	float: left;
	width: 100%;
}
.input1, .input2, .input3, .input4{
	float: left;
	width: 100%;
}

.input_txt{
	float: left;
	width: 30%;
	text-align: right;
	padding-right: 20px;
	padding-top: 2px;
}
.input_box{
	float: left;
	width: 40%;
	margin-bottom: 10px;
}

.input_box input, .input_box select{
	float: left;
	width: 100%;
	height: 26px;
	border-radius: 2px;
    border: none;
    background: white;
    padding-left: 7px;
}


input[type='submit']{
	width: 90px;
	float: right;
	background: rgb(200,20,50);
	border: none;


}

.form_top{
	margin-top: 5%;
	margin-bottom: 20px;
}

.share_btn{
	float: left;
	width: 100%;
	margin-top: 10%;
}

.shop_title{
	float: left;
	width: 100%;
	padding: 10px;
	background: #32b359;
}

.shop_title h3{
	font-size: 55px;
	width: 100%;
	float: left;
	text-align: center;
	padding:0px;
	margin:0px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}
@media only screen and (max-width: 550px){
	.download_h{
		padding:0px;
	}

	.d_h_1 h1, .d_h_2 h3{
		margin: 0px;
		color: white;
	}

	.d_h_1 h1{
		font-size: 50px;
	}
	.d_h_2 h3{
		letter-spacing: 7.2px;
		margin-right: -8px;
	}
}

/*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*//*DOWNLOAD*/




/*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*/

.gridLayout{
	background: white;
	float: left;
}
.gridLayoutInside{
	width: 80%;
	background: white;
	float: left;
	margin-left: 10%;
	border:5px solid white;
}
.imgGrid img{

}
.col-sm-4, .col-md-2{
	padding-left: 0px !important;
	padding-right: 0px !important;
	height: 230px;
	overflow: hidden;
	border:5px solid white;
}	
.imgGrid{
	overflow: hidden;
	width: 100%;
	background: gray;
	display: table-cell; 
    vertical-align: middle; 
    height: 230px !important;
}


.imgGrid img{
	transform: scale(1.8);
	transition: transform .4s ease-in-out;
	cursor: pointer;
}
.imgGrid img:hover{
	transform: scale(1.5);	
}



/*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*//*GRID LAYOUT*/







/*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*/
.signin{
	float: left;
	width: 100%;
	height: 100%;
}
.col-md-5, .col-md-6{
	/*height: 100%;*/
	/*float: left;*/
}
.signin_form{
	width: 250px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
}
.signin_form h2{
	font-size: 35px;
}
.signin_form input{
	float: left;
	width: 100%;
	background-color: #f0f0f0;
	border: 1px solid #f0f0dd;
	padding: 4px;
	padding-left: 20px;
	margin-top: 7px;
	font-size: 18px;
	border-radius: 2px;
	color: gray;
}

.signup_btn{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.signup_btn h3{
	font-size: 30px;
}
.signup_btn h2{
	font-size: 25px;
}

.signup_btn img{
	padding: 0px 60px 80px 80px;
}
.signup_btn_in a{
	text-decoration: none;
	font-size: 30px;
}
.signup_btn_in a:hover{
	color: gray;
}
.signup_btn_in img{
	padding-top: 20px;
	width: 250px;
	margin: 0 auto ;
}
.signup_btn span{
	
}
.draw_line{
	display: none;
	background-color: #cfcfbf;
	width: 1px;
	height: 400px;
	float: left;
	margin-top: 25%;
	/*position: absolute;*/

}
@media only screen and (min-width: 768px){
	.signin_form{
		margin-top: 30%;
	}
	.signup_btn{
		margin-top: 20%;	
	}	
	.draw_line{
		display: block;
	}
}

@media only screen and (max-width: 769px){
	.signin_form{
		margin-top: 30%;
	}
}

.signup_field{
	max-width: 800px;
	margin: 0 auto;
	margin-top: 20px;
}
.signup_field_inside{
	float: left;
	width: 100%;
	text-align: center;
}

.signup_left, .signup_right{
	padding: 20px;
}
.signup_field_inside input, .signup_field_inside span{
	width: 100%;
	float: left;
	text-align: left;
	font-size: 16px;
}

.signup_field_inside span{
	margin-top: 30px;
	padding-bottom: 5px;

	font-weight: 600;
}
.signup_field_inside input{
	border: none;
	background-color: #f6f6f6;
	font-size: 14px;
	padding: 4px;
	padding-left: 10px;
}

.signup_field_inside input:nth-child(2), .signup_field_inside input:nth-child(3){
	width: 50%;
}
.signup_field_inside input:nth-child(2){
	border-right: 5px solid #FFFFFF;
}

.signup_field_inside input:nth-child(3){
	border-left: 5px solid #FFFFFF;
}

.signup_field_inside select{
	float: left;
	border: none;
	background-color: #F6F6F6;
}

input[type="submit"]{
	float: right;
	margin-top: 7px;
	background: red;
	color: white;
	text-align: center;


}

.forgate_create{
	float: left;
	width: 59%;
	text-align: left;
	padding: 5px 5px 5px 2px; 
}
.forgate_create span, .forgate_create a{
	color: rgb(50,50,50);
	font-size: 12px;
}



.signup_feature{
	width: 410px;
	background: red;
	margin: 0 auto;
}
.signup_btn ul{
	text-align: center;
}
.signup_btn ul li{
	float: left;
	margin-right: 20px;
	font-size: 17px;
	font-weight: normal;

}

.signup_btn_in h5{
	width: 100%;
	float: left;
}

.signup_btn_in a{
	font-size: 14px;
}

.q_phone{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 12%;
	margin-bottom: 5%;
	font-size: 18px;
}


@media only screen and (max-width: 768px) and (min-width: 200px) {
	.signup_btn{
		/*float: left;*/
		text-align: center;
	}

	.signin{
		height: auto !important;
	}
	.col-sm-5{
		float: left;
		width: 100%;
	}
	.col-sm-7{
		float: left;
		width: 100%;	
	}

	.signup_btn{
		width: 80%;
	}
	span.q_phone{
		float: left;
		width: 100%;
		position: relative;
		text-align: center;
		margin-top: 50px;

	}
	.q_phone_div{
		float: left;
		width: 100%;
	}
	.signup_feature{
		width: 100%;
	}
	.signup_btn ul li{
		font-weight: 16px;
		width: 85%;
	}
	.signup_feature{
		text-align: center;
	}
}
/*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*//*SIGN UP*/







/*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*/
.slider{
	/*width: auto;*/
	float: left;
	overflow-y: hidden;
	overflow-x: scroll;
	position: relative;
	height: 100%;
	/*display: inline-block;*/
}	

.slider_inside{
	/*width: 9000px;*/
	width: 10000px;
	float: left;
	transition: transform .75s ease-in-out;
}

.slide_image_box{
	float: left;
	/*padding: 20px 20px 20px 0px;*/
	background:white;
}

.slider img{
	float: left;
	
	border-right: 10px solid white;
	border-left: none;
}

.slider_btn{
	position: absolute;
	width: 100%;
}

.btn_left{
	float: left;
	margin-top: 15%;
	margin-left: 20px;
	cursor: pointer;
}

.btn_right{
	float: right;
	margin-top: 15%;
	margin-right: 20px;
	cursor: pointer;
}


@media only screen and (max-width: 650px){
	.home_slider .item  img{

		/*transform: scale(2.5, 2.5);	
		margin-top: 150px !important;*/
	}
	
	.home_slider .item{	
	  /*display: table-cell;*/
	  text-align: center;
	  vertical-align: middle;
	  background-color: #999;
	}
	.home_slider .item * {
	  vertical-align: middle;
	}

	.dextop_view_h_slide{
		display: none;
	}

	.carousel-indicators{
		margin-bottom: 100px;
	}
}


/*home Slide*/

.carousel-inner{
	height: 100%;
}

#myCarousel{
	height: 100%;
}


.carousel-inner > .item{
	/*-webkit-transition: 1s ease-in-out !important;
	-o-transition: 1s ease-in-out !important;
	transition: 1s ease-in-out !important;*/
}

.slider img{
	border: none;
	margin-right:10px;
}


.carousel-indicators li{
	background: white;
	width: 70px;
	border: 0px;
	border-radius: 0px;
	height: 2px;
}
.carousel-indicators .active{
	background: white;
	width: 70px;
	border: 0px;
	border-radius: 0px;	
	height: 2px;
	margin-bottom: 01px;	
}

/*.carousel-indicators-inside{
	background: red;
}*/


.carousel-indicators-inside{
    width: 00px;
    height: 2px;
    background: white !important;
    -webkit-transition: width 6s;
    /*transition: width 0s ease-out;*/
    transition: width 6s;

}

.carousel-indicators .active .carousel-indicators-inside{
    width: 70px;
    background: red !important;
}

.home_slider{
	overflow: hidden;
}


.carousel-control{
	
}



/*Home Box*/

.single_box{
	width: 25%;
	float: left;
	/*padding:10px; */
	text-align: center;
	color: white;
	cursor: pointer;
	/*min-height: 150px;*/
	height: 100%;
	/*padding: .5% .25% 0% .25%;*/
	padding-top: 11px;

}
.single_box{
	position: relative;
}

.home_box a:first-child .single_box{
	padding-right: 6px;
}
.home_box a:nth-child(2) .single_box{
	padding-left: 4px;
	padding-right: 5px;
}
.home_box a:nth-child(3) .single_box{
	padding-left: 5px;
	padding-right: 4px;
}
.home_box a:last-child .single_box{
	padding-left: 6px;
}

.single_box_text{
	padding-top: 10px;
	position: absolute;
	z-index: 10;

	-webkit-transition: background 1s; /* Safari */      
    transition: background 1s;   
    width: 100%;
	height: 100%;   
	border-bottom: 10px solid white;
}
.single_box_text:hover{
	background: rgba(0,0,0,0.8);
	border-bottom: 10px solid white;
	
}

.home_box a:nth-child(2) .single_box .single_box_text, .home_box a:nth-child(3) .single_box .single_box_text{
	border-right: 10px solid white;
}
.home_box a:nth-child(1) .single_box .single_box_text{
	border-right: 10px solid white;
}

.home_box a:nth-child(4) .single_box .single_box_text{

}

.single_box .box_title{
	margin-top: 17%;
}

.home_box a:first-child .single_box{
	padding-left: 0px;
}
.home_box a:last-child .single_box{
	padding-right: 0px;
}





@media screen and (max-width: 600px){

	.single_box_text{
		padding: 0px !important;
		border: 0px solid;
		border-right: 0px;
		display: block;
		margin-top: 30px;
	}
	.single_box_text .box_disc{
		display: none;
	}
	.single_box{
		padding-right:0px !important;
		padding-left:0px !important;
		padding-bottom:0px !important;
		padding-top:10px ;
		border: 0px solid;
	}
}


@media screen and (min-width: 600px){
	.box_title{

		text-transform: uppercase;

		-webkit-transition:  0.8s; /* Safari */      
    	transition:  0.8s;      
		transform:translate(00%,170%);

	}
	.single_box:hover .box_title{
		transform:translate(00%,00%);
	}
	.single_box:hover .box_disc{
		display: block;
	}
	.box_disc{
		display: none;
	}
}






@media screen and (max-width: 1068px){
	.single_box{
		width: 50%;
	}
}

@media screen and (max-width: 600px){
	.single_box{
		width: 100%;
	}
}



/*Ho0me Box*/


/*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*//*SLIDER*/



.col-sm-12.slider.store_slider {
    float: left;
    width: 100%;
    overflow: scroll;
}

.ytp-chrome-top-buttons{
	display: none !important;
}



.public_shop a{
	text-decoration: none;
	color: black;
}

.public_shop  .shop_img{
	overflow: hidden;
}
.public_shop  .shop_img img{
	transition: all .2s ease-in-out;
}
.public_shop a:hover  img{
	transition: all .2s ease-in-out;
	transform: scale(1.2);
}
.public_shop{
	margin-top: 30px;
	float: left;
}
.thumbnail{
	border: none;
}

.public_shop .download_h, .public_motion .download_h{
	margin-bottom: 20px;
	margin-top: 20px;
}

.public_motion iframe{
	width: 100%;
	height: 230px;
	float: left;
}
.public_motion iframe .ytp-chrome-top .ytp-share-button-visible{
	display: none;
}

.public_motion p{
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgb(220,220,220);
	color:rgb(100,100,100);
}
.public_motion .col-sm-4, .public_motion .col-md-2{
	height: 100%;
}
.public_motion{
	padding-left: 0px;
	padding-right: 0px;
}

.public_motion .row{
	margin: 0px;
	margin-left: -5px;
}

.container-fluid{
	padding-right: 0px;	
}
.wide_screen_nav .hoverdown ul{
	padding: 15px;
	width: 100%;
	padding-bottom: 0px;
}

a.portfolio_a{
	width: 100%;
	text-align: center;
	padding: 10px !important;
	border-bottom: 1px solid rgb(230,230,230);

	transition: all 0.3s ease;

}
.hoverdown-content li:last-child a.portfolio_a{
	border: none;
}
a.portfolio_a:hover{
	transform: all 1s ease-in-out;
	transform: scale(1.2);
}
/*
.hoverdown a:after {
  display:block;
  content: '';
  border-bottom: solid 0px #B5144E;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}*/


@media screen and (min-width: 768px){
	.carousel-indicators{
		bottom: 100px;
	}

	
}

.line_break{
	float: left;
}

@media only screen and (max-width: 500px) {
	.slider_inside{
		width: 100%;
	}
	.slider_inside img{
		margin-bottom: 5px;
	}
	.logo{
		/*margin-left: 15%;*/
		margin: 0 auto;
		width: 150px;
	}


	.line_break{
		display: block;
		float: none;
	}
}


.footer{
	float: left;
	width: 100%;
	margin-bottom: 10px;

	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
	/*height: 381px;*/
	font-size: 11px;
	font-size: 1em;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: inherit;
	background: white;
}

.footer_inside{
	width: 87%;
	/*background: gray;*/
	margin: 0 auto;
	padding-top: 10px;
}


.footer h5{
	font-weight: bold;
}
.footer ul{
	padding-left: 0px;
}
.footer li{
	list-style: none;	
}
.footer hr{
	margin-top: 10px;
	margin-bottom: 10px;	
}
.footer .col-sm-2{
	padding: 0px;
}

.footer_option_list a{
	color: rgb(50,50,50);
	text-decoration: none;
}
.footer_bottom span:nth-child(3){
	float: right;
}

.dynamicFooter .footer_option, .dynamicFooter .footer_top{
	display: none;
}
.footer .dynamicFooter{
	background: transparent;
	/*background: rgba(0,0,0,0.1);*/
}
.dynamicFooter .footer_inside{
	padding: 0px;
}
.dynamicFooter hr{
	display: none;
}
.dynamicFooter{
	position: fixed;
	bottom: 0;
	margin-bottom: 20px;
}
.dynamicFooter .footer_bottom{

}

.dF{
	position: fixed;
	bottom: 0;
}


@media only screen and (max-width: 550px) {
	.contact{
		min-height: 500px !important;

	}
	.about{
		min-height: 200px !important;

	}
	.contact_inside{
		margin-right: 0%;
	}
	.dF{
		position: relative;
	}	

	.input_txt{
		width: 100%;
		padding-right:0px;
		padding-bottom: 10px;
		float: left;
		text-align: left;
	}
	.input_box{
		width: 100%;
		padding-right:0px;
		padding-bottom: 5px;
	}
	.input_box input{
		border: none;
		height: 40px;
	}
	.download .download_panel{
		padding: 6%;
	}
	.dynamicFooter{
		position: relative;
		background: white;
		float: left;
		width: 100%;
		padding-top: 10px;
	}
	.footer{
		margin-bottom: 1px;
	}
}



.download_line{
	width: 100%;
	border-top: 1px solid rgba(150,150,150, 0.5	);
	float: left;
	margin-top: 00px;
	padding-bottom: 40px;
}



.download_panel .col-sm-4{
	border: none;
}
.event_info{
	float: left;
	width: 100%;
	padding: 20px;
}
.event_info span{
	width: 100%;
	float: left;
	font-size: 18px;
	color: white;
	font-weight: 100;

}
.event_info_left{
	float: left;
	text-align: left;
	width: 50%;
}

.event_info_right{
	float: left;
	width: 50%;
	text-align: left;
}

.event_download_btn{
	float: left;
	width: 100%;
}

.event_download_btn input{
	float: left;
	margin-left: 20px;
}



.drop_menu_top_option{

}


.drop_menu_top_dot{
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	width: 	40px;
}
.drop_menu_top_dot i{
	font-size: xx-small;
	font-size: 5px;
	padding-right: 5px;
	color: gray;
}

.drop_menu_top_social{
	/*float: left;*/
	/*width: 100%;*/
	margin: 0 auto;
	width: 	155px;
}

.drop_menu_top_social a{
	float: left;
	padding: 5px;
}

.drop_menu_top_social a i{
	font-size: 22px;
	color: black;
}

.drop_menu_top_social a i:hover{
	color: gray;
}

.container-fluid{
	float: left;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.footer_bottom span{
		float: left;
		width: 100%;
	}
	.footer_bottom span:nth-child(3){
		text-align: center;
		padding: 5px;
		font-size: 16px;
		font-weight: bold;
	}
	.download_h{
		margin-top: 30px;
	}
}


.public_motion .col-sm-4{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
